<div class="container">
  <div class="row mt-5">
    <% @customers.each do |customer| %>
      <div class="pr-5 pb-5">
        <div class="card">
          <%= link_to customer_path(customer.id) do %>
            <% if customer.profile_image.persisted? %>
              <%= image_tag customer.profile_image, size: "400x400" %>
            <% end %>
          <% end %>
        <div class="card-body">
          <p><%= customer.nickname %></p>
          <p><%= customer.gender %></p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

