<% @customers.each do |customer| %>
<div>
  <%= image_tag customer.get_profile_image(100,100) %>
  <p>ニックネーム：<%= customer.nickname %></p>
</div>
<%= link_to "詳細", customer_path(customer.id) %>
<% end %>

