<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
    <%= form_with model: [@question, @answer] do |f| %>
      <%#= f.file_field :image, accept: "image/*" %>
      <div class="form_group">
        <%= f.text_area :answer, rows: '5', placeholder: "回答をここに", class: "form-control" %>
      </div>
      <div class="form_group">
        <%= f.submit "送信する", class:"btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>