<div class="container">
  <h1 class="text-center mt-5">About</h1>
    <p class="text-center ">
      Outfitは服の組み合わせで困ってる時に質問できます。</br>
     また今日の服のコーディネートを共有することができます。</br>

     このサイトは、おしゃれをしたいけど服の組み合わせがわからない方や、</br>
     毎日の服のコーディネートに困っている方などの様々なファッションについての</br>
     悩みが少しでも解消されて欲しいという願いがあります。</br>
    </p>
</div>

