<% @outfits.each do |outfit| %>
<div>
  <%= image_tag outfit.image, size: "250x200" %>
  <p>タイトル：<%= outfit.title %></p>
  <p>説明：<%= outfit.caption %></p>
</div>
<%= link_to "詳細",outfit_path(outfit.id) %>
<% end %>
