<div>
  <%= image_tag @outfit.image, size: "250x200" %>
  <p>タイトル：<%= @outfit.title %></p>
  <p>説明：<%= @outfit.caption %></p>
  <% if @outfit.customer == current_customer %>
    <%= link_to "削除", outfit_path(@outfit), method: :delete %>
  <% end %>
</div>